 body{
  margin : 0 ;
  padding: 0;
  
 }

.Header{
  display: flex;
  justify-content : space-around ;
  
}

 .navbar-desktop{
  display: block
 }


  .navbar-mobile{
    display: none;
    margin-top: 1.5rem;
    margin-left: 9rem;
  }

     .dropdown-menu{
    display: none;
     }
     
  .line{
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: black;
    margin: 4px 0;
  }


  .navitem-container{
   border: 2px solid red;

  }

  .dropdown-list{
    list-style:  none;
  }


nav ul li .nav-item{
   text-decoration: none;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 20px;
  &:visited{
    color: black;
  }
  &:hover{
    cursor: pointer;
     text-decoration: underline;
     text-shadow: 2px 4px 20px teal

  }
  
   }
 
    #nav-list{ 
       display: flex;
       justify-content: center ;
       gap: 1rem
       ;
       list-style: none;
     }
  
   
 
    .About{
     margin-top: 2rem;
      padding: 2rem 5rem 3rem 1rem ;
      display: flex;
      justify-content: space-between ;
      background-color: rgb(58, 97, 96);
      gap: 4rem;
      
    } 

     .description{
       display: flex;
       flex-direction: column;

       
     
     }
     
 

   
       #article-About{
        width: 100%;
        padding:  1rem 0 0 10rem;
        width: 50%;
        margin-left: 8rem;
        
       }
 

    #explain-About{
      color: white ;
      font-family: cursive ;
      font-size: px ;
      letter-spacing: 2px ;
      text-align: center;
      width: 120%;
    }

    .about-btn{
      height: 50px;
      width: 250px;
      border-radius: 8px;
      background-color: lemonchiffon;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;
      cursor: pointer;
     margin: 2rem 0 0 27rem;
    }

    #title-About{
      margin-left: 20rem;
      font-size: 68px;
      color:#F4C142 ;
      font-family:  "KARLA REGULA ";
      box-shadow: 2px 2px 14px  

    }

    #city-About{
      font-size: 38px;
      color:#F4C142 ;
      font-family:  "KARLA REGULA ";
      margin-left: 30rem;
      box-shadow: 1px 3px 44px
    }

    #img-About{
      max-width: 30%;
      height: 80%;
       padding: 2rem 1rem 0rem;
       border-radius: 8pc 5pc 3pc 0;
      }



 /*  Mobile   */



    @media screen and (max-width : 675px) {
      
        

      .little-logo{
        width: 200px;
        height: 70px;
        
      }

      .Header{
        display: flex;
        justify-content: center;
      }
      

       #nav-list {
          cursor: pointer;
          display: flex;
          justify-content: space-around;
          gap: 5px;
      
     
         
       }
   
       nav ul li .nav-item{
        font-size: 14px;
  
       }
         .navbar-desktop{
          display: none;
         }
          
       .navbar-mobile{
        display: block ;
        margin-top: 1.5rem;
        margin-left: 9rem;
        transition: 0.4s ease-in;
      }

       .dropdown-menu{
        display: block;
        position:absolute ;
        top: 10%; /* Navbarın altından başlasın */
        left: 0;
        width: 100%;   
        background-color:#F4C142 ;
       
       }
             

       .list-container:hover {
      text-shadow: 3px 5px 5px rgb(36, 42, 42);
        cursor: pointer;
       }
       
        .list-item{
          font-family: "KARLA REGULA ";
          
        }

         hr { 
          border: none;
         }
        
        .About{
          gap: 1rem;
         
 
        }

        .description{
         display: flex;
          flex-direction: column;
          padding:0
          
        }
        #title-About{
          margin: 10px;
          padding: 0;
          font-size: 35px; 
         }

         #city-About{
                font-size: 16px;
                margin: 10px;
                padding: 0;
         }


        #explain-About{
         font-size: 10px;
          
        }

        #article-About{
          padding: 0;
          margin : 0 ;
          width: 92%;
        
        }

        #img-About{
        max-width: 50%;
      
        border-radius: 9px;
       


        }
        .about-btn{
         margin: 0;
         height: 30px;
         width: 150px;
         margin : 2rem 0 0 4.5rem 
          
         

        }
 
        

      

      

    }