 body{
  margin : 0 ;
  padding: 0;
  
 }

.Header{
  display: flex;
  justify-content : space-around ;
  
}

 .navbar-desktop{
  display: block
 }


  .navbar-mobile{
    display: none;
    margin-top: 1.5rem;
    margin-left: 9rem;
  }

     .dropdown-menu{
    display: none;
     }
     
  .line{
    width: 30px;
    height: 5px;
    border-radius: 2px;
    background-color: black;
    margin: 4px 0;
  }


  .navitem-container{
   border: 2px solid red;

  }

  .dropdown-list{
    list-style:  none;
  }


nav ul li .nav-item{
   text-decoration: none;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 20px;
  &:visited{
    color: black;
  }
  &:hover{
    cursor: pointer;
     text-decoration: underline;
     text-shadow: 2px 4px 20px teal

  }
  
   }
 
    #nav-list{ 
       display: flex;
       justify-content: center ;
       gap: 1rem
       ;
       list-style: none;
     }
  
   
 
    .About{
     margin-top: 2rem;
      padding: 2rem 5rem 3rem 1rem ;
      display: flex;
      justify-content: space-between ;
      background-color: rgb(58, 97, 96);
      gap: 4rem;
      
    } 

     .description{
       display: flex;
       flex-direction: column;

       
     
     }
     
 

   
       #article-About{
        width: 100%;
        padding:  1rem 0 0 10rem;
        width: 50%;
        margin-left: 8rem;
        
       }
 

    #explain-About{
      color: white ;
      font-family: cursive ;
      font-size: px ;
      letter-spacing: 2px ;
      text-align: center;
      width: 120%;
    }

    .about-btn{
      height: 50px;
      width: 250px;
      border-radius: 8px;
      background-color: lemonchiffon;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;
      cursor: pointer;
     margin: 2rem 0 0 27rem;
    }

    #title-About{
      margin-left: 20rem;
      font-size: 68px;
      color:#F4C142 ;
      font-family:  "KARLA REGULA ";
      box-shadow: 2px 2px 14px  

    }

    #city-About{
      font-size: 38px;
      color:#F4C142 ;
      font-family:  "KARLA REGULA ";
      margin-left: 30rem;
      box-shadow: 1px 3px 44px
    }

    #img-About{
      max-width: 30%;
      height: 80%;
       padding: 2rem 1rem 0rem;
       border-radius: 8pc 5pc 3pc 0;
      }

  /* Order List */

  .specials-container{
              display: flex;
              justify-content: space-evenly;
                margin: 0  0  0 7rem;
               width: 90%;
               gap: 1rem;
               
  }

          .order-list{
            margin-top: 5rem;
            display: flex;
            justify-content: space-around;
          }

          .order-item{
            list-style: none;
            border: 2px solid teal;
            background-size: cover;
           background-position: center;
           border-radius: 8px;
           box-shadow: 3px 3px 5px gray;
           padding: 45px 45px 45px 45px ;
           color: burlywood;
           font-size: 23px;
           transition: .5s ease-in;

            &:hover{
              transform: scale(1.2);
              cursor: pointer;
            }
          }

          .special{
            position: relative;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin: 5rem 5rem 0 0;
            background-color:  rgb(58, 97, 96) ;
            border-radius: 8px;
            width: 300px
               }
         

     
          
            .special-description{
              position: absolute;
    width: 100% ;
    height: 100%;
    left: 0;
  overflow: hidden;
  background-color: rgb(58, 97, 96) ;
  clip-path: ellipse(100% 230px at bottom center);
  text-align: center;

            }

            .special:hover .special-description{ 
              animation: new .9s ease-in-out forwards;

            }
           
      
             @keyframes new {
                 
               from {
                  transform: translateY(300px);
          
                  
                }
          
                to {
                  transform: translateY(0);
                }
               
              
             }
            

           .special img{
            position: absolute;
              width: 100%;
              height: 90%;
              top: 10rem;
               left: -34px;
             padding: 0 0 0 0 ;
             margin: 2rem;
             border: 2px solid steelblue;
             border-radius: 5px ;
            
           }

           .special-btn{
          
            margin:1rem 0  1rem 3rem ;
            font-size: 17px;
            background-color: teal;
            color: white;
            border-radius: 5px;
            width: 100px;
          
        }


     

    

 /*  Mobile   */



    @media screen and (max-width : 675px) {
      
        

      .little-logo{
        width: 200px;
        height: 70px;
        
      }

      .Header{
        display: flex;
        justify-content: center;
      }
      

       #nav-list {
          cursor: pointer;
          display: flex;
          justify-content: space-around;
          gap: 5px;
      
     
         
       }
   
       nav ul li .nav-item{
        font-size: 14px;
  
       }
         .navbar-desktop{
          display: none;
         }
          
       .navbar-mobile{
        display: block ;
        margin-top: 1.5rem;
        margin-left: 9rem;
        transition: 0.4s ease-in;
      }

       .dropdown-menu{
        display: block;
        position:absolute ;
        top: 10%; /* Navbarın altından başlasın */
        left: 0;
        width: 100%;   
        background-color:#F4C142 ;
       
       }
             

       .list-container:hover {
      text-shadow: 3px 5px 5px rgb(36, 42, 42);
        cursor: pointer;
       }
       
       .nav-item{
          font-family: "KARLA REGULA ";
         font-size: 16px;
         text-decoration: none;

          &:visited {
             color: black;
           }
        }

         hr { 
          border: none;
         }
        
        .About{
          gap: 1rem;
         
 
        }

        .description{
         display: flex;
          flex-direction: column;
          padding:0;
          transition: 0.3s ease-in;
        
          
          
        }
        #title-About{
          margin: 10px;
          padding: 0;
          font-size: 35px; 
         }

         #city-About{
                font-size: 16px;
                margin: 10px;
                padding: 0;
         }


        #explain-About{
         font-size: 10px;
          
        }

        #article-About{
          padding: 0;
          margin : 0 ;
          width: 92%;
        
        }

        #img-About{
        max-width: 50%;
      
        border-radius: 9px;
       


        }
        .about-btn{
         margin: 0;
         height: 30px;
         width: 150px;
         margin : 2rem 0 0 4.5rem 
          
         

        }
             
         /* Order-list */


         .specials-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0;
           width: 100%;


}

          .special{
            position: relative;
            display: flex;
            flex-direction: row;
           gap: 1rem;
            border: none;
            margin: 0 0 0 0;
            padding: 0;
            width: 90%;
            width: 200px;
            height: 150px;
          }
             
           .special-description{
            color: black;
            position: absolute;
           }
           
        
        
        .orderlist-container{
          margin: 3rem
  
       }

        .special-btn{
          
            display: block;
            margin:1rem 0  0 0 ;
            font-size: 17px;
            background-color: teal;
            color: white;
            border-radius: 5px;
            width: 100px;
          
        }
  
       .order-list{
        display: flex;
        justify-content: space-around;
        list-style: none ;
        margin-right:  100px;
        width: 100%;
        padding: 0;
        
        
       }
     
         .order-item{
          margin-top: 1rem;
          border: 3px solid teal;
          border-radius: 8px;
          background-color: teal;
          color: rgb(216, 228, 225);
            padding: 15px 15px 15px 5px;
             font-size: 16px;

          
          &:hover{
            cursor: pointer;
          
          }

            

            

            
         }
      

      

    }