 body{
  margin : 0
 }

.Header{
  display: flex;
  justify-content: space-around;
}

.Navbar{
  display: flex;
  justify-content: center;
}

nav ul li .nav-item{
   text-decoration: none;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size: 20px;
  &:visited{
    color: black;
  }
  
   }
 
    .About{
      margin: 4rem 0;
      padding: 2rem 7rem 4rem 0 ;
      display: flex;
      justify-content: center;
      background-color: rgb(58, 97, 96);
      
    }

    .about-description{
       text-align: center;
       padding: 0rem 2rem;

    }

    .about-btn{
      height: 50px;
      width: 250px;
      border-radius: 8px;
      background-color: lemonchiffon;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-weight: 600;
      cursor: pointer;
    }